
  <div class="box">
    <div class="content">
      <figure>
        <img src="img/money.jpg" alt="">
        <figurecaption></figurecaption>
      </figure>
      <div class="text-content">
        <h1>How the Value of Money Is Determined</h1>
        <p>The value of money is determined by the demand for it, just like the value of goods and services. There are three ways to measure the value of the dollar. The first is how much the dollar will buy in foreign currencies. That’s what the exchange rate measures. Forex traders on the foreign exchange market determine exchange rates. They take into account supply and demand, and then factor in their expectations for the future.
            For this reason, the value of money fluctuates throughout the trading day. The second method is the value of Treasury notes. They can be converted easily into dollars through the secondary market for Treasurys.</p>
        <p>The third way is through foreign exchange reserves. That is the amount of dollars held by foreign governments. The more they hold, the lower the supply. That makes U.S. money more valuable. If foreign governments were to sell all their dollar and Treasury holdings, the dollar would collapse. U.S. money would be worth a lot less.</p>
        <h2>When the Value of Money Steadily Declines</h2>
        <p>Inflation is when the value of money steadily declines over time. Once people expect that prices will rise, they are more likely to buy now, before prices go higher. That increases demand, which tells producers they can safely pass on more costs. They drive prices up more, and inflation becomes a self-fulfilling prophecy.
        That's why the Federal Reserve watches inflation like a hawk. It will reduce the money supply or raise interest rates to curb inflation. A healthy economy can sustain a core inflation rate of 2 percent. Core inflation is the price of everything except food and gas prices, which are very volatile. The Consumer Price Index is the most common measure of inflation.</p>
        <a href="https://www.thebalance.com/value-of-money-3306108" class="readMore">Read more ...</a>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="content">
      <figure>
        <img src="img/gmo.png" alt="">
        <figurecaption></figurecaption>
      </figure>
      <div class="text-content">
        <h1>What is a GMO?</h1>
        <p>A GMO, or genetically modified organism, is a plant, animal, microorganism or other organism whose genetic makeup has been modified in a laboratory using genetic engineering or transgenic technology. This creates combinations of plant, animal, bacterial and virus genes that do not occur in nature or through traditional crossbreeding methods.
          Genetic modification affects many of the products we consume on a daily basis. As the number of GMOs available for commercial use grows every year, the Non-GMO Project works diligently to provide the most accurate, up-to-date standards for non-GMO verification.
          In order for a product to be Non-GMO Project Verified, its inputs must be evaluated for compliance with our standard, which categorizes inputs into three risk levels:</p>
        <h2>Are GMOs safe?</h2>
        <p>In the absence of credible independent long-term feeding studies, the safety of GMOs is unknown. Increasingly, citizens are taking matters into their own hands and choosing to opt out of the GMO experiment.
        </p>
        <h2>Are GMOs labeled?</h2>
        <p>Sixty-four countries around the world, including Australia, Japan, and all of the countries in the European Union, require genetically modified foods to be labeled. Canada does not require any GMO labeling.
        GMOs are not currently labeled in the United States. However, the National Bioengineered Food Disclosure Standard (NBFDS) was published in the Federal Register on December 21, 2018. This law, which you may have heard called the DARK Act, is the start of mandatory GMO labeling in the United States. It means that some—but not all—products containing GMOs will have to be labeled by 2022. In its current form, categorical exemptions prevent this law from delivering the meaningful protections Americans deserve.</p>
        <a href="https://www.nongmoproject.org/gmo-facts/what-is-gmo/" class="readMore">Read more ...</a>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="content">
      <figure>
        <img src="img/future.png" alt="">
        <figurecaption></figurecaption>
      </figure>
      <div class="text-content">
        <h1>5 ways the world will look dramatically different in 2100</h1>
        <p>Think the world is crowded now? You haven’t seen anything yet.
          The world is expected to add another billion people within the next 15 years, bringing the total global population from 7.3 billion in mid-2015 to 8.5 billion in 2030, 9.7 billion in 2050, and 11.2 billion by 2100, according to new estimates from the UN.
          Currently, 60 percent of the global population lives in Asia, 16 percent in Africa, 10 percent in Europe, 9 percent in Latin America and the Caribbean, and only 5 percent in North America and Oceania. China and India are the largest countries in the world, together making up almost 40 percent of the world population.
          But those numbers won’t stay that way for long. The charts below, created by data scientist Tariq Khokhar for the World Bank data blog using the medium estimates of the UN figures, show our world is set to change in surprising ways.</p>
        <h3>1. Get ready for another 4 billion people by 2100. </h3>
        <p>The world population is growing at a gradually slower and slower pace, but it's still growing substantially. Currently, the world adds about 83 million people per year, equivalent to roughly the population of Germany. But population growth has slowed to 1.18 percent per year from 1.24 percent a decade ago.</p>
        <h3>2. That growth is mostly coming from one continent -- Africa.</h3>
        <p>The UN's projections for Africa are pretty mind-blowing. Africa is expected to more than double its population by 2100. Africa currently accounts for 16 percent of the global population. The UN expects that proportion to rise to 25 percent in 2050 and 49 percent by 2100.</p>
        <h3>3. Nigeria will soon become the world's third most populous country. </h3>
        <p>Nigeria's population will be bigger than that of the U.S. before long. The country is expected to surpass America by about 2050 to become the third largest country in the world, the UN says. At that point, China, India, Indonesia, Nigeria, Pakistan and the U.S. will all have populations of more than 300 million.</p>
        <h3>4. India will surpass China -- soon.</h3>
        <p>Demography buffs may already know this one, but India is set to become the world's most populous country very soon. China now has 1.38 billion people, compared with 1.31 billion in India. By 2022, both countries will see their populations rise to 1.4 billion. After that, China's population will level off as its people age, but India will keep growing to 1.5 billion in 2030 and 1.7 billion in 2050.</p>
        <h3>5. Europe is getting really old.</h3>
        <p>Right now, about a quarter of Europeans are 60 or older. That proportion will rise to a little more than a third in 2050 and 2100.
        </p>
        <a href="https://www.washingtonpost.com/news/wonk/wp/2015/08/17/5-ways-the-world-will-look-dramatically-different-in-2100/?noredirect=on&utm_term=.1cca30fec6ea" class="readMore">Read more ...</a>
      </div>
    </div>
  </div>
