
  <div class="wrapper">
    <div class="grid-box">
      <div class="card">
        <figure>
          <img src="img/CE.jpg" alt="">
          <figurecaption></figurecaption>
        </figure>
      </div>
      <div class="card">
        <figure>
          <img src="img/ContentChangeRixh.png" alt="">
          <figurecaption></figurecaption>
        </figure>
      </div><div class="card">
        <figure>
          <img src="img/ProductsBeezyRich.jpg" alt="">
          <figurecaption></figurecaption>
        </figure>
      </div><div class="card">
        <figure>
          <img src="img/sevenstarHomeZen.jpg" alt="">
          <figurecaption></figurecaption>
        </figure>
      </div><div class="card">
        <figure>
          <img src="img/StoreProductsZen.jpg" alt="">
          <figurecaption></figurecaption>
        </figure>
      </div><div class="card">
        <figure>
          <img src="img/zenRich.png" alt="">
          <figurecaption></figurecaption>
        </figure>
      </div>
    </div>
  </div>
